In [2]:
# import libraries
import mysql.connector
from mysql.connector import Error
import pandas as pd

ModuleNotFoundError: No module named 'mysql'

In [4]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.0.0-cp311-cp311-win_amd64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-9.0.0-cp311-cp311-win_amd64.whl (14.3 MB)
   ---------------------------------------- 0.0/14.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.3 MB ? eta -:--:--
   ---------------------------------------- 0.0/14.3 MB ? eta -:--:--
   ---------------------------------------- 0.1/14.3 MB 2.1 MB/s eta 0:00:07
    --------------------------------------- 0.3/14.3 MB 3.3 MB/s eta 0:00:05
   - -------------------------------------- 0.5/14.3 MB 3.1 MB/s eta 0:00:05
   -- ------------------------------------- 0.7/14.3 MB 3.5 MB/s eta 0:00:04
   -- ------------------------------------- 1.0/14.3 MB 3.8 MB/s eta 0:00:04
   --- ------------------------------------ 1.1/14.3 MB 3.9 MB/s eta 0:00:04
   ---- ----------------------------------- 1.6/14.3 MB 4.6 MB/s eta 0:00:03
   ----- ---------------------------------- 2.0/14.3 MB 5.1 MB/s eta 0:00:03
   ------- -------------------------------- 2.6/14.3 MB 6.0 MB/s eta 0:00:02
   ------- -------------------------------- 2.9/14.3 MB 5.9 MB/s eta 0:00:02
   -------- ------------------------------- 3.2/14.3 MB 6.2 MB/s eta 0:00:02
   --------- ------------------------------ 3.5/14.3 MB 6.0 MB/s eta 0:00:02
   ---------- ----------------------------- 3.7/14.3 MB 6.0 MB/s eta 0:00:02
   ---------- ----------------------------- 3.9/14.3 MB 5.9 MB/s eta 0:00:02
   ----------- ---------------------------- 4.1/14.3 MB 5.8 MB/s eta 0:00:02
   ----------- ---------------------------- 4.2/14.3 MB 5.6 MB/s eta 0:00:02
   ------------ --------------------------- 4.5/14.3 MB 5.5 MB/s eta 0:00:02
   ------------ --------------------------- 4.5/14.3 MB 5.5 MB/s eta 0:00:02
   ------------ --------------------------- 4.6/14.3 MB 5.1 MB/s eta 0:00:02
   ------------ --------------------------- 4.6/14.3 MB 5.1 MB/s eta 0:00:02
   ------------- -------------------------- 4.8/14.3 MB 4.7 MB/s eta 0:00:03
   ------------- -------------------------- 4.8/14.3 MB 4.6 MB/s eta 0:00:03
   ------------- -------------------------- 5.0/14.3 MB 4.5 MB/s eta 0:00:03
   -------------- ------------------------- 5.1/14.3 MB 4.5 MB/s eta 0:00:03
   -------------- ------------------------- 5.2/14.3 MB 4.4 MB/s eta 0:00:03
   -------------- ------------------------- 5.4/14.3 MB 4.4 MB/s eta 0:00:03
   --------------- ------------------------ 5.6/14.3 MB 4.4 MB/s eta 0:00:03
   ---------------- ----------------------- 5.7/14.3 MB 4.3 MB/s eta 0:00:02
   ---------------- ----------------------- 5.8/14.3 MB 4.3 MB/s eta 0:00:02
   ---------------- ----------------------- 5.9/14.3 MB 4.2 MB/s eta 0:00:02
   ---------------- ----------------------- 6.0/14.3 MB 4.2 MB/s eta 0:00:02
   ----------------- ---------------------- 6.2/14.3 MB 4.1 MB/s eta 0:00:03
   ----------------- ---------------------- 6.4/14.3 MB 4.1 MB/s eta 0:00:02
   ------------------ --------------------- 6.6/14.3 MB 4.1 MB/s eta 0:00:02
   ------------------ --------------------- 6.8/14.3 MB 4.1 MB/s eta 0:00:02
   ------------------- -------------------- 7.0/14.3 MB 4.1 MB/s eta 0:00:02
   ------------------- -------------------- 7.1/14.3 MB 4.1 MB/s eta 0:00:02
   -------------------- ------------------- 7.3/14.3 MB 4.1 MB/s eta 0:00:02
   -------------------- ------------------- 7.5/14.3 MB 4.1 MB/s eta 0:00:02
   --------------------- ------------------ 7.7/14.3 MB 4.1 MB/s eta 0:00:02
   --------------------- ------------------ 7.9/14.3 MB 4.1 MB/s eta 0:00:02
   ---------------------- ----------------- 8.0/14.3 MB 4.1 MB/s eta 0:00:02
   ---------------------- ----------------- 8.2/14.3 MB 4.0 MB/s eta 0:00:02
   ----------------------- ---------------- 8.3/14.3 MB 4.0 MB/s eta 0:00:02
   ----------------------- ---------------- 8.5/14.3 MB 4.0 MB/s eta 0:00:02
   ------------------------ --------------- 8.6/14.3 MB 3.9 MB/s eta 0:00:02
   ------------------------ --------------- 8.7/14.3 MB 3.9 MB/s eta 0:00:02
   ------------------------ --------------- 8.8/14.3 MB 3.8 MB/s eta 0:00:02
   ------------------------ --------------- 8.8/14.3 MB 3.8 MB/s eta 0:00:02
   ------------------------ --------------- 8.8/14.3 MB 3.7 MB/s eta 0:00:02
   ------------------------ --------------- 8.9/14.3 MB 3.7 MB/s eta 0:00:02
   ------------------------ --------------- 9.0/14.3 MB 3.6 MB/s eta 0:00:02
   ------------------------- -------------- 9.0/14.3 MB 3.6 MB/s eta 0:00:02
   ------------------------- -------------- 9.1/14.3 MB 3.5 MB/s eta 0:00:02
   ------------------------- -------------- 9.1/14.3 MB 3.5 MB/s eta 0:00:02
   ------------------------- -------------- 9.1/14.3 MB 3.4 MB/s eta 0:00:02
   ------------------------- -------------- 9.2/14.3 MB 3.4 MB/s eta 0:00:02
   ------------------------- -------------- 9.3/14.3 MB 3.4 MB/s eta 0:00:02
   -------------------------- ------------- 9.3/14.3 MB 3.3 MB/s eta 0:00:02
   -------------------------- ------------- 9.4/14.3 MB 3.3 MB/s eta 0:00:02
   -------------------------- ------------- 9.5/14.3 MB 3.3 MB/s eta 0:00:02
   -------------------------- ------------- 9.6/14.3 MB 3.3 MB/s eta 0:00:02
   -------------------------- ------------- 9.7/14.3 MB 3.2 MB/s eta 0:00:02
   --------------------------- ------------ 9.8/14.3 MB 3.2 MB/s eta 0:00:02
   --------------------------- ------------ 9.9/14.3 MB 3.2 MB/s eta 0:00:02
   --------------------------- ------------ 10.0/14.3 MB 3.2 MB/s eta 0:00:02
   ---------------------------- ----------- 10.1/14.3 MB 3.2 MB/s eta 0:00:02
   ---------------------------- ----------- 10.1/14.3 MB 3.2 MB/s eta 0:00:02
   ---------------------------- ----------- 10.1/14.3 MB 3.1 MB/s eta 0:00:02
   ---------------------------- ----------- 10.2/14.3 MB 3.1 MB/s eta 0:00:02
   ---------------------------- ----------- 10.3/14.3 MB 3.1 MB/s eta 0:00:02
   ---------------------------- ----------- 10.4/14.3 MB 3.1 MB/s eta 0:00:02
   ----------------------------- ---------- 10.5/14.3 MB 3.0 MB/s eta 0:00:02
   ----------------------------- ---------- 10.6/14.3 MB 3.0 MB/s eta 0:00:02
   ----------------------------- ---------- 10.7/14.3 MB 3.0 MB/s eta 0:00:02
   ------------------------------ --------- 10.8/14.3 MB 3.0 MB/s eta 0:00:02
   ------------------------------ --------- 10.9/14.3 MB 3.0 MB/s eta 0:00:02
   ------------------------------ --------- 11.0/14.3 MB 3.0 MB/s eta 0:00:02
   ------------------------------ --------- 11.1/14.3 MB 2.9 MB/s eta 0:00:02
   ------------------------------- -------- 11.3/14.3 MB 2.9 MB/s eta 0:00:02
   ------------------------------- -------- 11.4/14.3 MB 2.9 MB/s eta 0:00:02
   -------------------------------- ------- 11.5/14.3 MB 2.9 MB/s eta 0:00:01
   -------------------------------- ------- 11.6/14.3 MB 2.8 MB/s eta 0:00:01
   -------------------------------- ------- 11.8/14.3 MB 2.8 MB/s eta 0:00:01
   --------------------------------- ------ 11.9/14.3 MB 2.8 MB/s eta 0:00:01
   --------------------------------- ------ 12.0/14.3 MB 2.8 MB/s eta 0:00:01
   --------------------------------- ------ 12.1/14.3 MB 2.8 MB/s eta 0:00:01
   ---------------------------------- ----- 12.2/14.3 MB 2.7 MB/s eta 0:00:01
   ---------------------------------- ----- 12.4/14.3 MB 2.7 MB/s eta 0:00:01
   ----------------------------------- ---- 12.9/14.3 MB 2.7 MB/s eta 0:00:01
   ------------------------------------ --- 13.0/14.3 MB 2.7 MB/s eta 0:00:01
   ------------------------------------ --- 13.1/14.3 MB 2.7 MB/s eta 0:00:01
   ------------------------------------- -- 13.4/14.3 MB 2.6 MB/s eta 0:00:01
   -------------------------------------- - 13.6/14.3 MB 2.7 MB/s eta 0:00:01
   -------------------------------------- - 13.9/14.3 MB 2.6 MB/s eta 0:00:01
   ---------------------------------------  14.0/14.3 MB 2.6 MB/s eta 0:00:01
   ---------------------------------------  14.2/14.3 MB 2.6 MB/s eta 0:00:01
   ---------------------------------------  14.3/14.3 MB 2.6 MB/s eta 0:00:01
   ---------------------------------------- 14.3/14.3 MB 2.6 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.0.0
Note: you may need to restart the kernel to use updated packages.

In [6]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

In [9]:
def create_server_connection(host_name,user_name,user_password):
    connection=None
    try:
        connection=mysql.connector.connect(
            host=host_name,
            user=user_name,
            password=user_password)
        print("Mysql Database connection successful")
    except Error as err:
        print(f"Error:'{err}'")
    return connection
# put our Mysql terminal password
pw="SQL_shivi"
#database name
db="mysql_python"
connection=create_server_connection("localhost","root",pw)

Mysql Database connection successful

In [11]:
#create mysql_python

def create_database(connection,query):
    cursor=connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as err:
        print(f"Error:{err}'")
create_database_query="Create database mysql_python"
create_database(connection,create_database_query)

Database created successfully

In [12]:
# connect to database

def create_db_connection(host_name,user_name,user_password,db_name):
    connection=None
    try:
        connection=mysql.connector.connect(
            host=host_name,
            user=user_name,
            password=user_password,
            database=db_name)
        print("Mysql database connection successfully")
    except Error as err:
        print(f"Error:'{err}'")
    return connection

In [13]:
# execute sql queries

def execute_query(connection,query):
    cursor=connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query was successful")
    except Error as err:
        print(f"Error:'{err}'")

In [15]:
create_orders_table="""
create table orders(
order_id int primary key,
customer_name varchar(30) not null,
product_name varchar(20) not null,
date_ordered date,
quantity int,
unit_price float,
phone_number varchar(20));
"""

#connect to the database
connection=create_db_connection("localhost","root",pw,db)
execute_query(connection,create_orders_table)

Mysql database connection successfully
Query was successful

In [16]:
# insert data
data_orders="""
insert into orders values
(101,'steve','laptop','2018-06-12',2,800,'6293730802'),
(102,'jos','books','2019-02-10',10,12,'8367489124'),
(103,'stacy','trousers','2019-12-25',5,50,'8976123645'),
(104,'nancy','t-shirts','2018-07-14',7,30,'7368145099'),
(105,'maria','headphones','2019-05-30',6,48,'8865316698'),
(106,'danny','smart tv','2018-08-20',10,300,'7720130449');
"""
connection=create_db_connection("localhost","root",pw,db)
execute_query(connection,data_orders)

Mysql database connection successfully
Query was successful

In [17]:
def read_query(connection,query):
    cursor=connection.cursor()
    result=None
    try:
        cursor.execute(query)
        result=cursor.fetchall()
        return result
    except Error as err:
        print(f"Error:'{err}'")

In [18]:
#using the select statement
q1="""
select * from orders;
"""
connection=create_db_connection("localhost","root",pw,db)
results=read_query(connection,q1)
for result in results:
    print(result)

Mysql database connection successfully
(101, 'steve', 'laptop', datetime.date(2018, 6, 12), 2, 800.0, '6293730802')
(102, 'jos', 'books', datetime.date(2019, 2, 10), 10, 12.0, '8367489124')
(103, 'stacy', 'trousers', datetime.date(2019, 12, 25), 5, 50.0, '8976123645')
(104, 'nancy', 't-shirts', datetime.date(2018, 7, 14), 7, 30.0, '7368145099')
(105, 'maria', 'headphones', datetime.date(2019, 5, 30), 6, 48.0, '8865316698')
(106, 'danny', 'smart tv', datetime.date(2018, 8, 20), 10, 300.0, '7720130449')

In [20]:
q2="""
select customer_name,phone_number from orders;
"""
connection=create_db_connection("localhost","root",pw,db)
results=read_query(connection,q2)
for result in results:
    print(result)

Mysql database connection successfully
('steve', '6293730802')
('jos', '8367489124')
('stacy', '8976123645')
('nancy', '7368145099')
('maria', '8865316698')
('danny', '7720130449')

In [21]:
q3="""
select year(date_ordered) from orders;
"""
connection=create_db_connection("localhost","root",pw,db)
results=read_query(connection,q3)
for result in results:
    print(result)

Mysql database connection successfully
(2018,)
(2019,)
(2019,)
(2018,)
(2019,)
(2018,)

In [22]:
# select distinct year
q4="""
select distinct year(date_ordered) from orders;
"""
connection=create_db_connection("localhost","root",pw,db)
results=read_query(connection,q4)
for result in results:
    print(result)

Mysql database connection successfully
(2018,)
(2019,)

In [23]:
# display every order that are placed before 31st dec
q5="""
select * from orders where date_ordered < '2018-12-31';
"""
connection=create_db_connection("localhost","root",pw,db)
results=read_query(connection,q5)
for result in results:
    print(result)

Mysql database connection successfully
(101, 'steve', 'laptop', datetime.date(2018, 6, 12), 2, 800.0, '6293730802')
(104, 'nancy', 't-shirts', datetime.date(2018, 7, 14), 7, 30.0, '7368145099')
(106, 'danny', 'smart tv', datetime.date(2018, 8, 20), 10, 300.0, '7720130449')

In [24]:
# display every order that are placed after 31st dec
q6="""
select * from orders where date_ordered > '2018-12-31';
"""
connection=create_db_connection("localhost","root",pw,db)
results=read_query(connection,q6)
for result in results:
    print(result)

Mysql database connection successfully
(102, 'jos', 'books', datetime.date(2019, 2, 10), 10, 12.0, '8367489124')
(103, 'stacy', 'trousers', datetime.date(2019, 12, 25), 5, 50.0, '8976123645')
(105, 'maria', 'headphones', datetime.date(2019, 5, 30), 6, 48.0, '8865316698')

In [26]:
# order by either in asc or desc order
q7="""
select * from orders  order by unit_price desc; 
"""
connection=create_db_connection("localhost","root",pw,db)
results=read_query(connection,q7)
for result in results:
    print(result)

Mysql database connection successfully
(101, 'steve', 'laptop', datetime.date(2018, 6, 12), 2, 800.0, '6293730802')
(106, 'danny', 'smart tv', datetime.date(2018, 8, 20), 10, 300.0, '7720130449')
(103, 'stacy', 'trousers', datetime.date(2019, 12, 25), 5, 50.0, '8976123645')
(105, 'maria', 'headphones', datetime.date(2019, 5, 30), 6, 48.0, '8865316698')
(104, 'nancy', 't-shirts', datetime.date(2018, 7, 14), 7, 30.0, '7368145099')
(102, 'jos', 'books', datetime.date(2019, 2, 10), 10, 12.0, '8367489124')

In [27]:
from_db=[]
for result in results:
    result=list(result)
    from_db.append(result)
columns=["order_id","customer_name","product_name","date_ordered","quantity",
        "unit_price","phone_number"]
df=pd.DataFrame(from_db,columns=columns)
display(df)

,order_id,customer_name,product_name,date_ordered,quantity,unit_price,phone_number
0,101,steve,laptop,2018-06-12,2,800.0,6293730802
1,106,danny,smart tv,2018-08-20,10,300.0,7720130449
2,103,stacy,trousers,2019-12-25,5,50.0,8976123645
3,105,maria,headphones,2019-05-30,6,48.0,8865316698
4,104,nancy,t-shirts,2018-07-14,7,30.0,7368145099
5,102,jos,books,2019-02-10,10,12.0,8367489124

In [28]:
#update command
update="""
update orders
set unit_price =45
where order_id=103
"""
connection=create_db_connection("localhost","root",pw,db)
execute_query(connection,update)

Mysql database connection successfully
Query was successful

In [29]:
q8="""
select * from orders where order_id=103;
"""
connection=create_db_connection("localhost","root",pw,db)
results=read_query(connection,q8)
for result in results:
    print(result)

Mysql database connection successfully
(103, 'stacy', 'trousers', datetime.date(2019, 12, 25), 5, 45.0, '8976123645')

In [31]:
#delete command
delete_order="""
delete from orders
where order_id=105;
"""
connection=create_db_connection("localhost","root",pw,db)
execute_query(connection,delete_order)

Mysql database connection successfully
Query was successful

In [33]:
q9="""
select * from orders;
"""
connection=create_db_connection("localhost","root",pw,db)
results=read_query(connection,q9)
for result in results:
    print(result)

Mysql database connection successfully
(101, 'steve', 'laptop', datetime.date(2018, 6, 12), 2, 800.0, '6293730802')
(102, 'jos', 'books', datetime.date(2019, 2, 10), 10, 12.0, '8367489124')
(103, 'stacy', 'trousers', datetime.date(2019, 12, 25), 5, 45.0, '8976123645')
(104, 'nancy', 't-shirts', datetime.date(2018, 7, 14), 7, 30.0, '7368145099')
(106, 'danny', 'smart tv', datetime.date(2018, 8, 20), 10, 300.0, '7720130449')